.main-content-area {
    display: flex;
    position: relative;
}

.main-page-content {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.main-page-content h1 {
    padding: 5.6rem 0;
    color: #000;
}

.main-focus-info {
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.focus-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
    padding: .4rem 1rem;
    margin: .5rem 0rem;
    background-color: var(--purple);
    border-radius: 5px;
}

.focus-area img {
    width: 250px;
    height: 250px;
    z-index: 5;
    position: absolute;
}


.drivers-license .area1 img,
.motor-vehicle .area1 img {
    width: 350px;
    height: 250px;
    padding: 1rem;
    border-radius: .8rem;
    left: 5rem;
}

.motor-vehicle .area2 img {
    position: absolute;
    right: 24rem;
    width: 350px;
    height: 250px;
    border-radius: .8rem;
}

.taxation .area1 img {
    left: 5rem;
}

.taxation .area2 img, .drivers-license .area2 img {
    right: 25rem;
}


.area-info {
    width: 100%;
    height: auto;
    background-color: #fff;
    padding: 1rem;
    z-index: 1;
}

.info-txt {
    width: 50%;
    float: right;
    margin: 1rem;
    top: 1rem;
}

.info-txt2 {
    width: 50%;
    float: left;
    margin: 2rem;

}

.info-txt p,
.info-txt2 p {
    text-align: left;
    padding: 2rem 0;
}


.area-info p {
    padding-bottom: 3rem;
}

.area1 {
    margin-top: .5rem;
    box-shadow: -10px 5px 3px lightgray;
}

.area2 {
    margin-top: 5rem;
    box-shadow: 10px 5px 3px lightgray;
}



/* SIDELINKS */

.sidelinks {
    display: flex;
    flex-direction: column;
    height: auto;
    color: #fff;
    border: 1px solid lightgray;

}

.sidelink-area {
    height: auto;

}

.find-location-content {
    padding: 4rem 2rem;
    background-color: var(--green);
    color: #fff;
}

.find-location-content input {
    padding: .5rem;
    margin-top: .5rem;
    text-align: center;
}

.helpful-links-area {
    height: 50rem;
    display: flex;
    flex-direction: column;
    background-color: var(--purple);
    border: 1px solid lightgray;
    border-left: none;
}

.helpful-links-area h2 {
    padding: 2rem 0;
}

.helpful-links-list {
    display: flex;
    flex-direction: column;
    padding: .8rem;
}

.helpful-links a {
    padding: .5rem;
    color: #fff;
    text-decoration: none;
}

.helpful-links a:hover {
    text-decoration: underline;
}

.subscribe-area {
    height: 19.8rem;
    display: flex;
    flex-direction: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: rgb(105, 188, 255);
}