/* MEDIA QUERIES */

/* Tablet 1024px max */

@media only screen and (min-width: 720px) and (max-width: 1024px) {

    /* Universal Styles */
    body {
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        margin: 12rem 1rem 10rem;
    }

    header {
        border: none;
        margin-bottom: 0rem;
    }

    main {
        display: flex;
        flex-flow: column nowrap;

    }

    /* Home */

    .purpose {
        padding: 2%;
    }

    .purpose>h2 {
        margin: 2rem 8rem 1.3rem;
        width: 40%;
        padding: 0 13%;
    }

    .purpose-content p {
        padding: 5% 0;
    }

    .photo {
        display: none;
    }

    .main-content {
        display: block;
        padding: 0% 8% 1%;
    }

    .purpose ol {
        padding: 2% 10%;
    }

    .mobile-home-learn-btn {
        display: block;
        padding-bottom: 8rem;
    }

    .article-banner-section {
        display: none;
    }


    .about-author-container {
        background-color: #5BF5D6;
    }


    #home-foot {
        margin-top: 15rem;
    }
}

/* Extra small devices (phones, 720px and down) */


@media only screen and (max-width: 720px) {

    /* Universal Styles */
    body {
        height: auto;
        width: 100%;
        margin: 0 auto;
    }

    h1 {
        margin: 10rem 2rem 15rem;
    }

    header {
        border: none;
        margin-bottom: 0rem;
    }

    main {
        display: flex;
        flex-flow: column nowrap;

    }

    /* footer {
        position: static;
        padding-bottom: 0rem;
        margin-top: 6.9rem;
    } */

    /* Home Page */


    .main-content {
        padding: .5rem;
        margin: 0 auto;
    }

    .main-content>.purpose {
        padding: 2rem;
        width: 151%;
    }

    .purpose>h2 {
        margin: 2rem 8rem 1.3rem;
        width: 50%;
        padding: 0 6%;
    }

    .photo {
        display: none;
    }

    .article-banner-section {
        display: none;
    }

    .about-author-container {
        width: 92%;
        height: auto;
        margin: 0 auto;
        background-color: #5BF5D6;
        padding: 0rem 1rem;
    }

    .author-content {
        padding: 2rem 0rem;
    }

    .mobile-home-learn-btn {
        display: block;
        margin: 5.5rem 0rem;
    }

    #home-foot {
        margin-top: 5.8rem;
    }

    /* About Page */
    #about-main {
        margin-bottom: 70rem;
    }

    .about-content-area {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .author-info {

        padding: 2rem;
    }

    blockquote {
        font-size: 1.1rem;
        padding: 2rem;
    }

    .print-education {
        display: none;
    }

    .about-break {
        display: none;
    }

    .intro-paragraph-section {
        background-color: white;
        border: 1px solid #c4c4c4;
        border-top: white;
        position: relative;
        bottom: 2rem;
        margin-bottom: 0rem;
    }

    .intro-paragraph-section>p {
        padding: 1rem;
    }

    .resume-btn {
        padding: 1rem .3rem;
    }

    video {
        width: 32rem;
        height: 19rem;
        padding: 1rem;

    }

    .author-linkedin-btn {
        display: none;
    }

    #about-article-banner-section {
        display: none;
    }

    .mobile-about-learn-btn {
        display: block;
        position: relative;
        top: 65rem;
    }

    #about-foot {
        margin-top: 4.5rem;
    }

    /* Learn Page */

    .mobile-side-nav {
        display: block;
        width: 85%;
        position: relative;
        top: 3rem;
        margin: 0 auto;
    }

    .mobile-side-nav-links {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin: 1rem 2.3rem;
        padding: 2rem;
        background-color: #FBFAFA;
    }

    #learn-main a {
        margin: 1rem 0rem;
    }

    .mobile-side-nav-links>a {
        font-size: .85rem;
        margin: 10rem 0rem;
        font-family: 'Open Sans', sans-serif;
        color: blue;
        text-decoration: underline;
    }

    .side-nav {
        display: none;
    }

    .learning-goals-objectives-container {
        left: 0;
        width: 95%;
        margin: 0 auto;
    }


    #learn-main {
        display: flex;
        flex-flow: row nowrap;
        margin-top: 3.8rem;
    }

    .learn-content-area {
        margin: 0rem;
        padding-top: 0rem;

    }

    .learn-content h3 {
        margin-left: .5rem;
    }

    #learn-goals-objectives-list {
        padding-inline-start: 1.5rem;
        line-height: 1.3rem;
    }

    .learn-content-area>header>h1 {
        margin: 5rem 1rem 8rem;
    }

    .learn-img>img {
        border: 5px solid black;
        width: 90%;
        margin-bottom: 2rem;
    }


    .learn-section {
        background-color: #FBFAFA;
        border: 1px solid #c4c4c4;
        margin: 1.5rem 0rem;
        width: 100%;
        left: 0rem;

    }

    table {
        padding: .5rem;
    }

    th {
        padding: .5rem;
    }

    .cell-padding {
        padding: 1.1rem;
    }

    #leadership-standards {
        padding: 0rem 3rem;
    }

    #learn-foot {
        margin-top: 8rem;
    }

    /* References & Resources Page */

    /* .reference-paragraph {
        text-align: center;
        padding: 4rem 2.5rem 0rem;
        line-height: 1.9rem;
    } */

    .reference-paragraph-break {
        display: none;
    }

    #reference-main {
        margin-bottom: 0rem;
    }

    .rr-section {
        padding: 0rem 1.8rem;
        margin-bottom: 1rem;
    }

    .rr-section>h2 {
        text-align: left;
    }

    .rr-content {
        padding-top: 1rem;
    }

    #ref-content-link:hover {
        font-size: 1rem;
    }

    .rr-section>.pink-bkg,
    .yellow-bkg {
        width: 40%;
    }

    .rr-content>ul li {
        padding-bottom: .8rem;
        font-size: 1.1rem;
        line-height: 1.9rem;
    }

    .p-indent {
        text-indent: 2rem;
    }

    .ph-indent {
        text-indent: -2.5rem;
        padding-left: 2.5rem;
    }

    #reference-foot {
        margin-top: 10rem;
    }

    /* Content Page */

    .form-content-container {
        width: 90%;
    }

}

@media only screen and (min-width: 575px) and (max-width:616px) {
    .main-content {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .photo {
        display: none;
    }

    .purpose>h2 {
        margin: 0 auto;
    }

    .purpose p {
        padding: 5%;
    }


    .purpose ol {
        padding: .4rem 1.5rem;
    }

    .article-banner-section {
        display: none;
    }

    .about-author-container {
        width: 97%;
    }

    #home-foot {
        width: 102.5%;
        margin-top: 10rem;
    }

    footer>.foot-links,
    .quick-contact {
        flex-wrap: wrap;
    }

    /* About Page */

    #author-header,
    #about-main,
    #about-foot {
        width: 100%;
    }

    .about-content-area{
        display: flex;
    }

    #about-foot {
        margin-top: 3.5rem;

    }

    /* Learn Page */

    #learn-main,
    #learn-foot {
        margin: 0 auto;
    }

    .article-date-author {
        bottom: 6rem;
    }

    .learn-sections {
        margin: 0 auto;
        font: 1.5rem;
        /* position: relative;
        right: .5rem; */
    }

    .learn-section {
        width: 100%;
        left: 0;
    }

    .learn-section>h2 {
        padding: 1rem 1.2rem;
    }

    .learn-content {
        width: 90%;
    }

    .learn-content>p {
        padding: 2rem .5rem;
    }


    .mobile-side-nav-links {
        margin: 1rem;
        padding: 3rem;
        text-align: center;
    }

    /* References Page */

    #reference-header,
    #reference-main,
    #reference-foot {

        width: 100%;
    }

    #reference-header>h1 {
        margin-bottom: 12rem;
    }

    /* Contact Page */

    textarea {
        position: relative;
        right: 1%;
    }
}

@media only screen and (width: 368px) {
    /* Home */


}

/* About Page Print Query */

@media print {

    body {
        font-size: 12px;
        height: auto;
        margin: 25mm;
        color: black;
    }

    nav,
    .author-video-section,
    .author-linkedin-btn,
    #about-article-banner-section {
        display: none !important;
    }

    #about-main {
        margin-bottom: 0rem;
    }

    header>h1 {
        padding: 0rem;
        margin: 0rem;
        font-size: 2rem;
    }

    .author-info>h3 {
        display: none;
    }

    .author-info>h2 {
        font-size: 1.5rem;
    }

    .about-content-area {
        display: flex;
        flex-flow: column nowrap;
        margin: 0rem;

    }

    .author-info-section {
        display: flex;
        flex-flow: row nowrap;
        border: none;
    }

    .print-education {
        display: inline-flex;
        width: 60%;
        padding: 1rem;
        text-align: left;
    }

    .print-education>ul {
        padding: .5rem;
    }

    .author-info {
        padding: 1rem;
        margin: 0 auto;
    }

    .author-photo>img {
        width: 30%;
        height: 30%
    }

    .intro-paragraph-section {
        margin: 0rem;
        padding: .6rem;
    }

    .intro-paragraph-section>p {
        padding-top: 0rem;
    }

    .about-break {
        display: none;
    }

    i,
    .foot-links,
    .copyright {
        display: none !important;
    }

    footer {
        border: none !important;
        bottom: 18rem !important;
    }

    .quick-contact>a {
        color: black;
    }
}