/* nav */
body {
    margin: 0;
    padding: 0;
}

/* Universal Styles */

.pink-bkg {
    background-color: #F697EA;
    height: 1.7rem;
}

.blue-bkg {
    background-color: #5BF5D6;
}

.yellow-bkg {
    background-color: #F5E7AE;
}

h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin: 10rem 0rem 10rem;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.justify {
    text-align: justify;
    text-justify: distribute;
    word-spacing: -.1rem;
    line-height: 1.5rem;
}

.btn {
    width: 7rem;
    height: 1rem;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.btn:active {
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 1.8rem;
    position: relative;
    top: .2rem;
}



/* Home Page */
main{
    height: 100vh;
    margin-bottom: 20rem;
}
section {
    display: grid;
    grid-template: repeat(2 min-content)/ 60% 40%;
    grid-gap: 0rem;
    padding: 0rem 5rem;
}

section>.purpose {
    border: 1px solid #C4C4C4;
    grid-area: 1/1/1/1;
    padding: 0rem 5rem;
}

.purpose>h2 {
    margin: 2rem 12rem 1.3rem;
    padding: .7rem;
}

.purpose p {
    padding: .5rem;
}

.purpose ol {
    padding: 1rem 4rem 0rem 4rem;

}

.purpose li {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.photo {
    background-color: #5BF5D6;
    grid-area: 1/2/span 2/2;
}

.photo>img {
    width: 32rem;
    height: 22rem;
    margin: 2rem 1rem 0rem;
    border: 5px solid black;
    margin-bottom: 7.3rem;
}

.photo>.btn {
    margin-top: 1.9rem;
    margin-bottom: 1rem;
}

.article-banner-section {
    grid-area: 2/1/2/1;
}

.article-banner {
    background-color: white;
    border: 1px solid #C4C4C4;
    width: 42rem;
    position: relative;
    bottom: 1.65rem;
    left: 18.5rem;

}

.article-title {
    text-align: center;
    vertical-align: middle;
    margin: .2rem;
    font-size: 1.2rem;
}

.article-title>h3 {
    padding: .7rem;
    margin: 0rem 1rem;
}

.about-author {
   width: 100%;
   height: auto;
   text-align: center;
   margin: 5rem 0rem;
   background-color: #E5E5E5;
}

.author-photo> img{
    border-radius: 100%;

}