/* nav */
body {
    margin: 0;
    padding: 0;
}

/* Universal Styles */

.pink-bkg {
    background-color: #F697EA;
    height: 1.7rem;
}

.blue-bkg {
    background-color: #5BF5D6;
}

.yellow-bkg {
    background-color: #F5E7AE;
}

h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin: 10rem 0rem 10rem;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    kerning: .2rem;
}

.justify {
    text-align: justify;
    text-justify: distribute;
    line-height: 1.5rem;
}

.btn {
    width: 7.5rem;
    height: auto;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 1.7rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.btn:active {
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 1.8rem;
    position: relative;
    top: .2rem;
}



/* Home Page */
main {
    height: 100vh;
    margin-bottom: 40rem;
}

section {
    display: grid;
    grid-template: repeat(2 min-content)/ 60% 40%;
    grid-gap: 0rem;
    padding: 0rem 5.6rem;
}

section>.purpose {
    border: 1px solid #C4C4C4;
    grid-area: 1/1/1/1;
    padding: 0rem 4.4rem;
}

.purpose>h2 {
    margin: 2rem 10rem 1.3rem;
    padding: .7rem;
}

.purpose p {
    padding: .5rem;
}



.purpose ol {
    padding: .4rem 4rem 0rem 4rem;

}

.purpose li {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.photo {
    background-color: #5BF5D6;
    grid-area: 1/2/span 2/2;
    
}

.photo>img {
    width: 30.5rem;
    height: 22rem;
    margin: 2rem 1rem 0rem;
    border: 5px solid black;
    margin-bottom: 8.2rem;
}



.article-banner-section {
    grid-area: 2/1/2/1;
}

.article-banner {
    background-color: white;
    border: 1px solid #C4C4C4;
    width: 42rem;
    position: relative;
    bottom: 2rem;
    left: 1-0rem;
}

.article-title {
    text-align: center;
    vertical-align: middle;
    margin: .1rem;
    font-size: 1.2rem;
}

.article-title>h3 {
    padding: .7rem;
    margin: 0rem 1rem;
}

/* Home Author Section */

.about-author-container {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 3rem 0rem;
    background-color: #FBFAFA;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;

}

.author-content {
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    justify-content: center;

}

.author-photo>img {
    border-radius: 500%;
}

.author-content>.author-btn {
    width: 8rem;
    margin: 0 auto;
    
}