/* nav */
body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

/* Universal Styles */

.pink-bkg {
    background-color: #F697EA;
    height: 1.7rem;
}

.blue-bkg {
    background-color: #5BF5D6;
    height: 1.7rem;
    width: 90%;
}

.yellow-bkg {
    background-color: #F5E7AE;
    height: 1.7rem;
}

h1 {
    font-family: 'Lora', serif;
    text-align: center;
    font-size: 3rem;
    margin: 10rem 0rem 10rem;
}

h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
    font-weight: 600;
}

h3 {
    font-family: 'Lora', serif;
    font-weight: 500;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    kerning: .2rem;
}

.justify {
    text-align: justify;
    text-justify: distribute;
    line-height: 1.5rem;
}

.btn {
    width: 7.5rem;
    height: auto;
    background-color: black;
    color: white;
    margin: 0 auto;
    padding: 1.7rem;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 1.1rem;
}

.btn:active {
    background-color: white;
    color: black;
    margin: 0 auto;
    padding: 1.8rem;
    position: relative;
    top: .2rem;
}



/* Home Page */
main {
    height: 100vh;
    margin-bottom: 40rem;
}

section {
    display: grid;
    grid-template: repeat(2 min-content)/ 60% 40%;
    grid-gap: 0rem;
    padding: 0rem 5.6rem;
}

section>.purpose {
    border: 1px solid #C4C4C4;
    grid-area: 1/1/1/1;
    padding: 0rem 4.4rem;
}

.purpose>h2 {
    margin: 2rem 10rem 1.3rem;
    padding: .7rem;
}

.purpose p {
    padding: .5rem;
}



.purpose ol {
    padding: .4rem 4rem 0rem 4rem;

}

.purpose li {
    text-align: left;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.photo {
    background-color: #5BF5D6;
    grid-area: 1/2/span 2/2;

}

.photo>img {
    width: 30.5rem;
    height: 22rem;
    margin: 2rem 1rem 0rem;
    border: 5px solid black;
    margin-bottom: 8.2rem;
}



.article-banner-section {
    grid-area: 2/1/2/1;
}

.article-banner {
    background-color: white;
    border: 1px solid #C4C4C4;
    width: 42rem;
    position: relative;
    bottom: 2rem;
    left: 1-0rem;
}

.article-title {
    text-align: center;
    vertical-align: middle;
    margin: .1rem;
    font-size: 1.2rem;
}

.article-title>h3 {
    padding: .7rem;
    margin: 0rem 1rem;
}

/* Home Author Quick Section */

.about-author-container {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 3rem 0rem;
    background-color: #FBFAFA;
    border-top: 1px solid #E5E5E5;
    border-bottom: 1px solid #E5E5E5;

}

.author-content {
    display: flex;
    flex-direction: column;
    padding: 5rem 0rem;
    justify-content: center;

}

.author-photo>img {
    border-radius: 50%;
}

.author-content>.author-btn {
    width: 8rem;
    margin: 0 auto;
}

/* ABOUT AUTHOR PAGE */
/* main author content layout */
#about-main {
    height: auto;
    margin: 0rem 0rem 10rem;
}

.about-content-area {
    display: grid;
    grid-template: repeat(4 min-content)/ 35% 65%;
    grid-gap: 0rem;
    height: 100vh;
    margin: 0rem 5.6rem;
}

.author-info-section {
    background-color: #FBFAFA;
    border: 1px solid #C4C4C4;
    text-align: center;
    display: flex;
    align-items: center;
    grid-area: 1/1/2/1;
}

.author-info {
    padding: 5rem;

}

.author-photo {
    padding: .6rem 0rem;
}

.author-info>h2 {
    font-size: 2rem;
}


.author-info>h3 {
    padding-bottom: .5rem;
}


.intro-paragraph-section {
    grid-area: 1/2/1/2;
    width: auto;
    padding: 1rem 2.5rem;
    margin: 3rem 0rem;
    border: 1px solid #E5E5E5;
}

.intro-paragraph-section>p {
    padding-top: 1rem;
    margin-bottom: 0rem;
}

.author-video-section {
    background-color: #F5E7AE;
    margin: 0rem 5rem 10rem;
    height: auto;
    grid-area: 2/1/3/span 2;
    text-align: center;
}

video {
    width: 45.6rem;
    height: 30rem;
    padding: 3rem;
}

.resume-btn {
    display: block;
    width: 97.8%;
    padding: .8rem;
}

.fa-file-download {
    padding-right: .5rem;
}

.author-learn-button>.learn-btn {
    display: inline-block;
    width: auto;
}

.author-linkedin-btn {
    position: relative;
    width: 2.8rem;
    bottom: 13rem;
    left: 78.7rem;
    border: 1px solid #c4c4c4;
}

.fa-linkedin {
    padding: .4rem;
    color: #0072B1;
}

#about-article-banner-section {
    margin: 28rem 0rem 0rem;
    padding: 10rem 0rem 0rem;
    width: 100%;
    height: auto;
}

#about-article-banner-section>.author-article-banner-section {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    padding-bottom: 2rem;
}



/* References & Resources Page */

.reference-paragraph {
    text-align: center;
    margin: -7rem 0rem 7rem;
    line-height: 1.9rem;
}

.rr-section {
    padding: 0rem 15rem;
    margin-bottom: 3rem;
}

.rr-section>h2 {
    text-align: left;
}

.rr-section>.pink-bkg,
.yellow-bkg {
    width: 20%;
}

.rr-content>ul li {
    padding-bottom: .8rem;
    font-size: 1.1rem;
    line-height: 1.9rem;
}

.p-indent {
    text-indent: 2rem;
}

.ph-indent {
    text-indent: -2.5rem;
    padding-left: 2.5rem;
}

/* Footer */
footer {
    position: relative;
    bottom: 0;
    width: 100%;
    height: 10rem;
    border-top: 5px solid black;
    display: flex;
    flex-direction: column;
}

footer>.quick-contact,
.foot-links {
    width: 100%;
    height: auto;
    text-align: center;
    padding: 5rem 0rem 0rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    kerning: .2rem;
}

footer>.foot-links {
    display: flex;
    flex-direction: column;
    padding-bottom: 5rem;
}

footer>.foot-links a {
    color: blue;
    margin: .5rem;
}

/* MEDIA QUERIES */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {

    /* Universal Styles */
    h1 {
        margin: 10rem 0rem 7rem;
    }

    /* About Page */

    .about-content-area{
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
    }

    .about-break{
        display: none;
    }

    .intro-paragraph-section {
        background-color: white;
        border: 1px solid #c4c4c4;
        border-top: white;
        position: relative;
        bottom: 2rem;
    }

    .intro-paragraph-section>p {
        padding: 1rem;
    }

    .resume-btn{
        padding: 1rem 0rem;
    }

    video {
        width: 25.6rem;
        height: 20rem;

    }
    
    .author-linkedin-btn{
        display: none;
    }
    #about-article-banner-section {
        margin: 0rem;
        padding: 0rem;
        width: 100%;
        height: auto;
    }
    .author-article-banner-section> .article-banner{
        display: none;
    }

    .author-article-banner-section> .author-learn-btn{
       display: none;
    }

   footer{
       top: 75rem
   }

}