/* Main Header */
h1{
    color: #47a895;
  }
  header{
    text-align: center;
    margin: 5rem 0 5rem;
  }

  header>p{
    font-size: 1.1rem;
    padding-top: 2rem;
  }

  /* References & Resources Page */
  .fl-change{
    color: orange;
    font-size: 2rem;
  }
.rr-section{
  padding: 0rem 15rem;
  margin-bottom: 3rem;
}


.rr-content>ul li{
  padding-bottom: .8rem;
  font-size: 1.1rem;
  line-height: 1.9rem;
}

.p-indent{
  text-indent: 2rem;
}

.ph-indent{
  text-indent: -2.5rem;
 padding-left: 2.5rem;
}
